.client-services {
    .plans {
        width: 100%;
        max-width: 50%;

        .plan-wrapper {
            .img-wrapper {
                max-width: 250px;
                margin: 0 auto;
            }

            .name {
                
            }
        }
    }
}