.login-wrapper {
    .row {
        align-items: center;
        box-shadow: 0 3px 10px #00000029;
        background-color: $primary-bg-color;
        border-radius: 25px;

        @include resposive(tablet){
            background-color: $primary-bg-color;
            border-radius: 25px;
            padding: 50px 25px;
            margin: 0;
        }
   
        .custom-pos-outline {
            width: 600px;
            max-width: 100%;
            position: absolute;
            margin: 2px 0 0 -18rem;
            z-index: -1;

            @include resposive(md-desktop){
                margin: 2px 0 0 -13rem;
            }
            @include resposive(md-desktop){
                margin: 2px 0 0 -13rem;
            }
            @include resposive(sm-desktop){
                margin: 2px 0 0 -5rem;
            }
            @include resposive(tablet){
                margin: 2px 0 0 -6rem;
                position: absolute;
                object-fit: cover;
            }
            @include resposive(custom){
                width: 100%;
                margin: 0;
                left: 0;
                right: 0;
            }
            
        }

        .login-image {
            padding: 0;

            .image-wrapper{
                width: 100%;
                height: 500px;

                @include resposive(tablet){
                    width: max-content;
                }
            
                img{
                    height: 500px;
                    object-fit: cover;
                    overflow: hidden;
                    border-radius: 25px 0 0 25px;

                    @include resposive(tablet){
                        height: auto;
                        object-fit: contain;
                        overflow: hidden;
                        border-radius: 25px;
                        position: absolute;
                        width: 100px;
                        right: 12px;
                        top: -23px;
                    }
                }
            }
        }

        h1{
            color: #3777FF;
            font-weight: 700;
            padding: 25px 20px;
        }

        form {
            padding: 0 20px;
            .form-group {
                margin-bottom: 30px;
                label {
                    margin-bottom: 15px;
                }
            }

            .py-3 {
                box-shadow: none;
            }
        }

    }
}
