.shadow-box-login{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}
.pad-det{
    padding-top: 15px;
    padding-bottom: 15px;
}

.login-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        font-weight: 700;
        color: #3777FF;

        &:hover {
            border-bottom: 1px solid #3777FF;
        }
    }

    .row {
        align-items: center;
        box-shadow: 0 3px 10px #00000029;
        background-color: $primary-bg-color;
        border-radius: 25px;

        @include resposive(tablet){
            background-color: $primary-bg-color;
            border-radius: 25px;
            padding: 50px 25px;
            margin: 0;
        }
   
        .custom-pos-outline {
            width: 600px;
            max-width: 100%;
            position: absolute;
            margin: 2px 0 0 -18rem;
            z-index: -1;

            @include resposive(md-desktop){
                margin: 2px 0 0 -13rem;
            }
            @include resposive(md-desktop){
                margin: 2px 0 0 -13rem;
            }
            @include resposive(sm-desktop){
                margin: 2px 0 0 -5rem;
            }
            @include resposive(tablet){
                margin: 2px 0 0 -6rem;
                position: absolute;
                object-fit: cover;
            }
            @include resposive(custom){
                width: 100%;
                margin: 0;
                left: 0;
                right: 0;
            }
            
        }

        .login-image {
            padding: 0;

            .image-wrapper{
                width: 100%;

                @include resposive(tablet){
                    width: max-content;
                }
            
                img{
                    object-fit: cover;
                    overflow: hidden;
                    border-radius: 25px 0 0 25px;
                    height: 650px;
                    display: block;

                    @include resposive(tablet){
                        height: auto;
                        object-fit: contain;
                        overflow: hidden;
                        border-radius: 25px;
                        position: absolute;
                        width: 100px;
                        right: 12px;
                        top: -23px;
                    }
                }
            }
        }

        h2{
            color: #3777FF;
            padding: 70px 15px;
            margin: 0;
        }

        .divider {
            text-align: center;
            padding: 20px 0;
        }

        .social-btn-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            button{
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 45px;

                &:hover{
                    cursor: pointer;
                }
            }

            .fb-btn{
                color: #4267B2;
                &:hover {
                    color: #6a96ec;
                }
            }

            .gmail-btn{
                color: #BB001B;

                &:hover {
                    color: #EA4335;
                }
            }
        }

        form {
            padding: 0 20px;
            .form-group {
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                label {
                    margin-right: 5px;
                    font-size: 17px;

                    svg{
                        color: #7e7d7d;
                    }
                }
            }

            .py-3 {
                box-shadow: none;
            }
        }

    }
}
