.edit-user-screen{
    padding-bottom: 25px;

    label{
        display: block;
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 10px;
    }


    select {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        height: 45px;
        padding-left: 15px;

        &:focus{
            outline-color: #3777FF;
        }
    }

    input {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        height: 45px;
        padding-left: 15px;
        
        &:focus{
            outline-color: #3777FF;
        }
    }

    .col-md-12{
        text-align: right;
    }

    .choose-file{
        font-size: 12px;
    }

    .title {
        color: #3777ff;
        font-size: 18px;
        font-weight: 900;
        padding: 12px 0;
    }

    .inner-img-wrapper {
        max-width: 150px;
        padding: 25px 0;
    }
}