/* Dashboard Sidebar */
.dashboard-container{
    padding: 0;
}
.dashboard{
    margin: 0;
}
.sidebar{
    background-color: #f4f4f4;
    padding: 20px 10px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li a{
    margin: 0;
    padding: 10px 0;
    display: block;
}

.sidebar ul li svg {
    margin-right: 15px;
}
.blue-bkg-title {
    background-color: #3777FF;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 10px 10px 10px;
}

.main-content{
    padding: 0;
}

/* member-list */
.main-data {
    padding: 0 10px;
    font-size: 15px;
}
.member-data{
    padding: 0 25px 25px 25px;
}
.main-data .member-data .table-wrapper{
    overflow-x: auto;
}
.view-btn {
    background-color: #3777FF;
    padding: 0 20px;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    margin: 0 auto;
    display: block;
    width: max-content;
}
.view-btn:hover {
    background-color: #2557c2;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}


/* ViewUserScreen */
.view-user-screen{
    margin: 15px 0;
}
.view-user-screen span.title{
    color: #3777ff;
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}
.view-user-screen span{
    display: block;
    margin-left: 20px;
}
.view-user-screen {
    padding-bottom: 20px;
}
.view-user-screen  .details-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #00000033;
}
.view-user-screen  .details-wrapper label {
    font-weight: 700;
    font-size: 12px;
    margin: 0;
}
.view-user-screen .edit-btn {
    width: max-content;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #fcae17;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    font-size: 12px;
}
.view-user-screen .edit-btn:hover {
    background-color: #d09013;
    color: #fff;
    text-decoration: none;
}
.user-details, .membership-info, .activity-log{
    padding-bottom: 30px;
}
.delete-btn:hover {
    background-color: #c2382d;
    cursor: pointer;
}
.delete-btn {
    font-size: 12px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    color: #fff;
    background-color: #f44336;
    margin-left: 10px;
}    
.view-user-screen .button-wrapper {
    text-align: right;
}

/* EditUserScreen */
.edit-user-screen{
    padding-bottom: 25px;
}
.edit-user-screen  label{
    display: block;
    font-weight: 700;
    font-size: 12px;
}
.edit-user-screen  input, .edit-user-screen  select {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 45px;
    padding-left: 15px;
}
.edit-user-screen  input:focus, .edit-user-screen  select:focus{
    outline-color: #3777FF;
}
.edit-user-screen .col-md-12{
    text-align: right;
}
.edit-user-screen .update-btn{
    width: max-content;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    color: #fff;
    background-color: #4CAF50;
}
.choose-file{
    font-size: 12px;
}
.edit-user-screen .title {
    color: #3777ff;
    font-size: 18px;
    font-weight: 900;
    padding: 12px 0;
}
.edit-user-screen .update-btn:hover{
    background-color: #3e9241;
    cursor: pointer;
}
.inner-img-wrapper {
    max-width: 150px;
}

@media screen and (max-width: 991px) {
    .sidebar ul li a {
        display: block;
        margin: 0;
    }
}
@media screen and (max-width: 767px) {
    .sidebar{
        padding: 0;
    }
    .sidebar ul li {
        position: relative;
        margin: 0;
    }
    .sidebar ul li span {
        display: none;
    }
    .sidebar ul{
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
    }
    .img-wrapper {
        padding-bottom: 25px;
    }
    .main-data {
        padding: 0 ;
    }
}