.dashboard {
    display: flex;
    background-color: #f4f4f4;

    @include resposive(sm-desktop){
        display: block;
    }

    .main-content {
        width: 100%;
        padding: 30px;
        position: relative;
    }
}