.footer-hr  {
    border-top: 2px solid #007bff;
    margin: 0;
}

.site-footer {
    font-size: 12px;
    font-weight: 700;
    padding: 20px 0;

    .site-footer-wrapper {
        .text-wrapper {
            span {
                &:nth-child(1):after{
                    content: "\007C";
                }
            }
        }
    }

    .links{
        width: max-content;
        margin-left: auto;

        a {
            margin-left: 15px;
        }

        @include resposive(tablet){
            margin: 0 auto;
        }
    }

}