header{
    .row{
        .col-lg-2.col-md-3.col-sm-4{
            .navbar-brand {
                .site-logo {
                    max-width: 250px;
                }
            }
        }

        .response-nav.col-lg-10.col-md-9.col-sm-8{
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            align-items: flex-end;

            #basic-navbar-nav{
                a {
                    font-size: 15px;
                    font-weight: 600;
                }
                .dropdown-menu.show {
                    a {
                        &:hover {
                            background-color: #007bff;
                            color: #fff;
                        }
                    }
                } 
            }

        }
    }
}
