// GENERAL
.sidebar {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    min-height: calc(100vh - 130px);
    

    .sidebar-menu-label {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        color: #3777ff;;
        padding: 25px 0;
    }

    .side-navigation-panel {
        .side-navigation-panel-select {
            .side-navigation-panel-select-wrap {
                .side-navigation-panel-select-option-selected {
                    background-color: transparent;
                    border-color: #3777ff;
                    span.side-navigation-panel-select-option-text {
                        font-weight: 700;
                    }
                }
                .side-navigation-panel-select-option {
                    .side-navigation-panel-select-option-wrap {
                        span {
                            font-size: 15px;
                            white-space: nowrap;
                        }
                        svg {
                            font-size: 12px;
                            color: #222222a6;
                        }
                    }

                    &:hover {
                        background-color: #3777ff3b;
                        border-color: #3777ff;
                    }
                }

                .side-navigation-panel-select-option-text {

                }

            }

            .side-navigation-panel-select-inner {
                .side-navigation-panel-select-inner-wrap {
                    .side-navigation-panel-select-inner-option {

                    }
                }

            }
        }

    }

}



// .dashboard-container{
//     padding: 0;
//     background-color: #f4f4f4;

//     .dashboard{
//         margin: 0;

//         .sidebar {
//             .side-navigation-panel {
//                 @include resposive(sm-desktop){
//                     display: flex;
//                     justify-content: space-between;
//                 }
                
//                 .side-navigation-panel-select {
//                     padding: 10px 0;

//                     .side-navigation-panel-select-wrap {
//                         .side-navigation-panel-select-option {
//                             @include resposive(tablet){
//                                 padding: 0 5px !important;
//                             }

//                             .side-navigation-panel-select-option-wrap {
//                                 span {
//                                     @include resposive(sm-desktop){
//                                         display: none;
//                                     }
//                                 }
//                                 svg {
//                                     @include resposive(custom-2){
//                                         display: none;
//                                     }
        
//                                     @include resposive(sm-desktop){
//                                         display: inherit;
//                                     }
//                                 }
//                             }
//                         }

                        

//                         .side-navigation-panel-select-option-text {
//                             line-height: 1.8;
//                         }
                        
//                     }

//                     .side-navigation-panel-select-inner {
//                         .side-navigation-panel-select-inner-wrap {
//                             .side-navigation-panel-select-inner-option  {
//                                 @include resposive(sm-desktop){
//                                     padding: 10px;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
            
//         .main-content {
//             padding: 25px 0;
//         }
//     }
// }

// CLIENT
.client-layout {
    .layout {
        display: flex;
        background-color: #f8f9fa;

        @include resposive(sm-desktop){
            display: block;
        }

        .sidebar {
            .basic-info {
                border-bottom: 1px solid #22222236;
                padding-bottom: 20px;
    
                .inner-img-wrapper {
                    max-width: 150px;
                    margin: 0 auto;
                    padding-bottom: 10px;
    
                    span {
                        display: block;
                        text-align: center;
                        font-weight: 700;
                        padding: 15px 0;
                    }
                }
    
                .details-wrapper {
                    padding: 10px 0;
                    display: flex;
                    span {
                        padding-left: 15px;
                        line-height: 1.5;
                        font-size: 12px;
                    }
                }
            }
            
            .res-sidebar {
                @include resposive(min-sm-desktop) {
                    display: none;
                }
                
                @include resposive(sm-desktop) {
                    display: block;
                    padding-bottom: 20px;
                }
            }

            .des-sidebar {
                @include resposive(sm-desktop){
                    display: none;
                }
            }


            .side-navigation-panel {
                @include resposive(sm-desktop){
                    display: flex;
                    justify-content: space-between;
                }
    
                .side-navigation-panel-select {
                    padding: 10px 0;
    
                    .side-navigation-panel-select-wrap {
                        .side-navigation-panel-select-option {
                            @include resposive(tablet){
                                padding: 0 5px !important;
                            }
    
                            .side-navigation-panel-select-option-wrap {
                                span {
                                    @include resposive(sm-desktop){
                                        display: none;
                                    }
                                }
                                svg {
                                    @include resposive(custom-2){
                                        display: none;
                                    }
        
                                    @include resposive(sm-desktop){
                                        display: inherit;
                                    }
                                }
                            }
                        }
    
                        .side-navigation-panel-select-option-text {
                            line-height: 1.8;
                        }
                        
                    }
    
                    .side-navigation-panel-select-inner {
                        .side-navigation-panel-select-inner-wrap {
                            .side-navigation-panel-select-inner-option  {
                                @include resposive(sm-desktop){
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}