.button-wrapper {
    display: flex;
    align-items: center;
}

.custom-link-button {
    background-color: #007bff;
    color: #fff;
    padding: 4px 15px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 400;
    border: 1px solid #007bff;

    &:hover {
        background-color: #fff;
        color: #007bff;
        padding: 4px 15px;
        display: inline-block;
        border-radius: 5px;
    }
}

// <NavLink to='' className="view-btn">View</NavLink>
.view-btn {
    background-color: $primary-color;
    padding: 5px 20px;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    display: block;
    width: max-content;

    &:hover {
        background-color: #2557c2;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
    }
}

.edit-btn {
    width: max-content;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: #fcae17;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    display: inline-block;
    margin-left: auto;

    &:hover {
        background-color: #d09013;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
    }
}

.delete-btn {
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: 400;
    color: #fff;
    background-color: #f44336;
    margin-left: 10px;
    position: relative;
    height: max-content;

    &:hover {
        background-color: #c2382d;
        cursor: pointer;
    }
}    

.update-btn{
    width: max-content !important;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 400;
    color: #fff;
    padding: 15px 20px;
    background-color: #4CAF50;
    width: max-content !important;
    margin-left: auto;
    border: none;
    position: relative;
    height: max-content;
    
    &:hover{
        background-color: #3e9241;
        cursor: pointer;
        color: #fff;
        font-weight: 400;
    }
}

.add-btn{
    width: max-content !important;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 400;
    color: #fff;
    padding: 15px 20px;
    background-color: #fcae17;
    width: max-content !important;
    margin-left: auto;
    border: none;
    position: relative;
    height: max-content;
    
    &:hover{
        background-color: #d09013;
        cursor: pointer;
        color: #fff;
    }
}

.search-wrapper {
    border: 1px solid #22222226 ;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 25px;

    @include resposive(tablet){
        padding: 5px;
        border-radius: 15px;
    }

    input {
        border-radius: 10px;
        width: calc(100% - 90px);
        border: none;

        &:focus {
            outline: none;
        }
    }

    .search-btn{
        font-size: 17px;
        border-radius: 5px;
        font-weight: 400;
        color: #fff;
        background-color: #fcae17;
        margin-left: auto;
        border: 2px solid #fcae17;
        position: relative;
        padding: 10px 0;
        width: 80px;
        margin-left: 10px;

        @include resposive(tablet){
            font-size: 15px;
        }
        
        &:hover{
            background-color: #d09013;
            cursor: pointer;
            color: #fff;
        }
    }
}
