.custom-link-button {
    background-color: #007bff;
    color: #fff;
    padding: 4px 15px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 400;
    border: 1px solid #007bff;

    &:hover {
        background-color: #fff;
        color: #007bff;
        padding: 4px 15px;
        display: inline-block;
        border-radius: 5px;
    }
}
.view-icon-btn {
    color: #3261c5;
    background-color: transparent;
    border: none;
    padding: 0 !important;

    &:hover {
        cursor: pointer;
        color: #4880f8;
    }
}

.edit-btn {
    font-size: 12px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff !important; 
    padding: 10px !important;
    background-color: #fcae17;
    border: none;
    position: relative;
    height: max-content;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    svg {
        margin-right: 5px;
    }
    &:hover{
        background-color: #d09013;
        cursor: pointer;
        color: #fff;
    }
}

.delete-icon-btn {
    background-color: transparent;
    border: none;
    color: #b80000;
    padding: 0 !important;

    &:hover {
        cursor: pointer;
        color: #f72222;
    }
}   

.delete-btn{
    font-size: 12px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff !important; 
    padding: 10px !important;
    background-color: #b80000;
    border: none;
    position: relative;
    height: max-content;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    svg {
        margin-right: 5px;
    }
    &:hover{
        background-color: #f72222;
        cursor: pointer;
        color: #fff;
    }
}

.update-btn{
    font-size: 12px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff !important; 
    padding: 10px !important;
    background-color: #4CAF50;
    border: none;
    position: relative;
    height: max-content;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    svg {
        margin-right: 5px;
    }
    
    &:hover{
        background-color: #3e9241;
        cursor: pointer;
        color: #fff;
    }
}

.add-btn{
    font-size: 12px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    padding: 10px !important;
    background-color: #fcae17;
    border: none;
    position: relative;
    height: max-content;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    svg {
        margin-right: 5px;
    }
    &:hover{
        background-color: #d09013;
        cursor: pointer;
        color: #fff;
    }
}



.save-btn{
    font-size: 12px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    padding: 10px !important;
    background-color: #1e7e34;
    border: none;
    position: relative;
    height: max-content;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
    
    svg {
        margin-right: 5px;
    }
    &:hover{
        background-color: #30c853;
        cursor: pointer;
        color: #fff;
    }
}