.btn-primary {
    width: 100%;
  }

.dpa-tb-60{
    padding-top: 60px;
    padding-bottom: 60px;
}

.def-padding {
    padding: 20px;
}

.padding-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pad-tb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pad-tb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.empha {
    color: $primary-color;
    font-weight: 700;
}
.pad-lr-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.w-100{
    width: 100%;
}

.mar-tb-20 {
    margin-top: 20px
}

.mar-t-n-50 {
    margin-top: -50px
}
.c-mar-side-neg-15 {
    margin-left: -15px;
    margin-right: -15px;
}
.text-center {
    text-align: center;
}

.first-color {
    color: #3777FF;
}
.second-color {
    color: #fcae17;
}
.third-color {
    color: #4CAF50;
}


.img-wrapper {
    padding-top: 20px;
    max-width: 250px;
    position: relative;

    .upload-btn {
        position: absolute;
        bottom: 5px;
        left: 5px;
    }
}

.dashboard-title-wrapper{
    padding: 20px 0;
    border-bottom: 1px solid #08080824;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-title {
    color: #08080896;
    font-size: 22px;
}

.dashboard-title-alone {
    color: #08080896;
    font-size: 22px;
    padding: 20px 0;
}

.section-wrapper {
    padding: 0 15px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    background-color: #fff;
}

.j-c-end{
    justify-content: flex-end;
}

.mar-b-50 {
    margin-bottom: 50px;
}

.button-wrapper {
    display: flex;
    align-items: center;
}
