:root {
  --header-height: 81px;
  --sidebar-width: 290px;

  --profile-sidebar-width: 250px;

  --link-hover-bg: rgb(255 255 255 / 8%);
  --link-active-bg:rgb(255 255 255 / 9%);
}

body {
  font-size: 16px;
}

.btn {
  font-weight: 500;
}