@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #3777FF;
  text-decoration: none;
  font-weight: 700;
}

.active {
  color: #3777FF;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  padding: 0;
  background: #f8f9fa;
}

h1 {
  font-size: 4rem;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

h4 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

h5 {
  font-size: 12px;
  color: #222222b0;
}

h6 {
  margin-bottom: 5px;
  font-size: 12px;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

span {
  line-height: 1.5;
}

button, a {
  margin: 0 5px;
}

.btn-primary {
  width: 100%;
}

.dpa-tb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.def-padding {
  padding: 20px;
}

.padding-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad-tb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pad-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.empha {
  color: #3777FF;
  font-weight: 700;
}

.pad-lr-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.mar-tb-20 {
  margin-top: 20px;
}

.mar-t-n-50 {
  margin-top: -50px;
}

.c-mar-side-neg-15 {
  margin-left: -15px;
  margin-right: -15px;
}

.text-center {
  text-align: center;
}

.first-color {
  color: #3777FF;
}

.second-color {
  color: #fcae17;
}

.third-color {
  color: #4CAF50;
}

.img-wrapper {
  padding-top: 20px;
  max-width: 250px;
  position: relative;
}
.img-wrapper .upload-btn {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.dashboard-title-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #08080824;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-title {
  color: #08080896;
  font-size: 22px;
}

.dashboard-title-alone {
  color: #08080896;
  font-size: 22px;
  padding: 20px 0;
}

.section-wrapper {
  padding: 0 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}

.j-c-end {
  justify-content: flex-end;
}

.mar-b-50 {
  margin-bottom: 50px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.custom-link-button {
  background-color: #007bff;
  color: #fff;
  padding: 4px 15px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 400;
  border: 1px solid #007bff;
}
.custom-link-button:hover {
  background-color: #fff;
  color: #007bff;
  padding: 4px 15px;
  display: inline-block;
  border-radius: 5px;
}

.view-icon-btn {
  color: #3261c5;
  background-color: transparent;
  border: none;
  padding: 0 !important;
}
.view-icon-btn:hover {
  cursor: pointer;
  color: #4880f8;
}

.edit-btn {
  font-size: 12px;
  border-radius: 5px;
  font-weight: 700;
  color: #fff !important;
  padding: 10px !important;
  background-color: #fcae17;
  border: none;
  position: relative;
  height: max-content;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.edit-btn svg {
  margin-right: 5px;
}
.edit-btn:hover {
  background-color: #d09013;
  cursor: pointer;
  color: #fff;
}

.delete-icon-btn {
  background-color: transparent;
  border: none;
  color: #b80000;
  padding: 0 !important;
}
.delete-icon-btn:hover {
  cursor: pointer;
  color: #f72222;
}

.delete-btn {
  font-size: 12px;
  border-radius: 5px;
  font-weight: 700;
  color: #fff !important;
  padding: 10px !important;
  background-color: #b80000;
  border: none;
  position: relative;
  height: max-content;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.delete-btn svg {
  margin-right: 5px;
}
.delete-btn:hover {
  background-color: #f72222;
  cursor: pointer;
  color: #fff;
}

.update-btn {
  font-size: 12px;
  border-radius: 5px;
  font-weight: 700;
  color: #fff !important;
  padding: 10px !important;
  background-color: #4CAF50;
  border: none;
  position: relative;
  height: max-content;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.update-btn svg {
  margin-right: 5px;
}
.update-btn:hover {
  background-color: #3e9241;
  cursor: pointer;
  color: #fff;
}

.add-btn {
  font-size: 12px;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  padding: 10px !important;
  background-color: #fcae17;
  border: none;
  position: relative;
  height: max-content;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.add-btn svg {
  margin-right: 5px;
}
.add-btn:hover {
  background-color: #d09013;
  cursor: pointer;
  color: #fff;
}

.save-btn {
  font-size: 12px;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  padding: 10px !important;
  background-color: #1e7e34;
  border: none;
  position: relative;
  height: max-content;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
}
.save-btn svg {
  margin-right: 5px;
}
.save-btn:hover {
  background-color: #30c853;
  cursor: pointer;
  color: #fff;
}

.box {
  padding: 40px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .box {
    padding: 20px 20px;
  }
}
.box .box-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .box .box-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}
.box p {
  line-height: 2;
}
.box .icon-wrapper {
  font-size: 70px;
  text-align: center;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .box .icon-wrapper {
    font-size: 70px;
    margin-bottom: 30px;
  }
}

.c-box {
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #00000033;
}

.card {
  border: none;
}
.card .card-header {
  font-size: 18px;
  font-weight: 500;
  padding: 25px 15px;
  color: #3777FF;
  background-color: #fff;
}
.card .card-header:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}
.card .card-body {
  padding: 25px 50px;
  line-height: 2;
}

.loader-wrapper .loader {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
}

.row {
  width: 100%;
  margin: 0;
}

/* TABLE SCROLL */
.table-wrapper table {
  border: 1px solid #08080812;
  width: 100%;
}
.table-wrapper table th {
  font-weight: 900;
  text-align: left;
  padding: 15px 10px;
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 2px solid #08080812;
}
.table-wrapper table td {
  text-align: left;
  padding: 15px 10px;
  white-space: nowrap;
  font-size: 12px;
}
.table-wrapper table td p {
  width: 300px;
  white-space: normal;
}
.table-wrapper table td .button-wrapper {
  text-align: left;
}
.table-wrapper table td .button-wrapper button {
  padding: 5px 15px !important;
  font-size: 12px;
  margin-left: 0;
  margin-right: 5px;
}
.table-wrapper table td .button-wrapper input[type=submit] {
  padding: 0 10px;
}
.table-wrapper table td a {
  padding: 5px 15px !important;
  font-size: 12px;
  margin-left: 0;
  margin-right: 5px;
}

.choose-file {
  border: none !important;
  padding: 0 !important;
  overflow: hidden !important;
}

.footer-hr {
  border-top: 2px solid #007bff;
  margin: 0;
}

.site-footer {
  font-size: 12px;
  font-weight: 700;
  padding: 20px 0;
}
.site-footer .site-footer-wrapper .text-wrapper span:nth-child(1):after {
  content: "|";
}
.site-footer .links {
  width: max-content;
  margin-left: auto;
}
.site-footer .links a {
  margin-left: 15px;
}
@media only screen and (max-width: 767px) {
  .site-footer .links {
    margin: 0 auto;
  }
}

header {
  background-color: #fff;
}
header nav.navbar.navbar-expand-lg.navbar-light {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header .row .col-lg-2.col-md-3.col-sm-4 .navbar-brand .site-logo {
  max-width: 250px;
}
header .row .response-nav.col-lg-10.col-md-9.col-sm-8 {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}
header .row .response-nav.col-lg-10.col-md-9.col-sm-8 #basic-navbar-nav a {
  font-size: 15px;
  font-weight: 600;
}
header .row .response-nav.col-lg-10.col-md-9.col-sm-8 #basic-navbar-nav .dropdown-menu.show a:hover {
  background-color: #007bff;
  color: #fff;
}

.dashboard {
  display: flex;
  background-color: #f4f4f4;
}
@media only screen and (max-width: 991px) {
  .dashboard {
    display: block;
  }
}
.dashboard .main-content {
  width: 100%;
  padding: 30px;
  position: relative;
}

.per-menu {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: #e2e2e2;
}
.per-menu li {
  margin-right: 15px;
}
.per-menu li a {
  font-weight: 700;
  color: #1b3b80;
  font-size: 12px;
  padding: 3px 0;
}
.per-menu li .active {
  border-bottom: 2px solid #3777FF;
}

.sidebar {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  min-height: calc(100vh - 130px);
}
.sidebar .sidebar-menu-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #3777ff;
  padding: 25px 0;
}
.sidebar .side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
  background-color: #3777ff3b;
  border-color: #3777ff;
}
.sidebar .side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-wrap span {
  font-size: 15px;
  white-space: nowrap;
}
.sidebar .side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-wrap svg {
  font-size: 12px;
  color: #222222a6;
}
.sidebar .side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option:hover {
  background-color: #3777ff3b;
  border-color: #3777ff;
}
.client-layout .layout {
  display: flex;
  background-color: #f8f9fa;
}
@media only screen and (max-width: 991px) {
  .client-layout .layout {
    display: block;
  }
}
.client-layout .layout .sidebar .basic-info {
  border-bottom: 1px solid #22222236;
  padding-bottom: 20px;
}
.client-layout .layout .sidebar .basic-info .inner-img-wrapper {
  max-width: 150px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.client-layout .layout .sidebar .basic-info .inner-img-wrapper span {
  display: block;
  text-align: center;
  font-weight: 700;
  padding: 15px 0;
}
.client-layout .layout .sidebar .basic-info .details-wrapper {
  padding: 10px 0;
  display: flex;
}
.client-layout .layout .sidebar .basic-info .details-wrapper span {
  padding-left: 15px;
  line-height: 1.5;
  font-size: 12px;
}
@media only screen and (min-width: 992px) {
  .client-layout .layout .sidebar .res-sidebar {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .client-layout .layout .sidebar .res-sidebar {
    display: block;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .client-layout .layout .sidebar .des-sidebar {
    display: none;
  }
}

.client-layout {
  width: 100%;
}
.client-layout .main-content {
  width: 100%;
  padding: 30px;
}

.admin-dashboard .activity-wrapper {
  font-size: 15px;
}
.admin-dashboard .activity-wrapper .activiy-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.admin-dashboard .activity-wrapper .activiy-item .time {
  position: relative;
}
.admin-dashboard .activity-wrapper .activiy-item .icon {
  position: relative;
  font-size: 30px;
}
.admin-dashboard .activity-wrapper .activiy-item h6 {
  font-weight: 700;
}
.admin-dashboard .activity-wrapper .activiy-item .sub span {
  font-weight: 700;
  color: #222;
}
.admin-dashboard table {
  font-size: 12px;
}
.admin-dashboard .info {
  margin-bottom: 15px;
}

.number {
  display: block;
}

.adminDashboard .details {
  display: flex;
  align-items: center;
  padding: 30px 15px;
  justify-content: space-between;
}
.adminDashboard .details .icon-wrapper {
  font-size: 32px;
  margin-right: 15px;
}
.adminDashboard .details .title {
  color: #08080896;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 10px;
}
.adminDashboard .details .title svg {
  margin-right: 5px;
}
.adminDashboard .details .sub-title {
  font-size: 12px;
}
.adminDashboard .details .total {
  font-size: 45px;
  font-weight: 900;
}

.plan-items {
  width: calc(25% - 30px);
  display: inline-block;
  padding: 15px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  border: solid 1px #007bff00;
}
.plan-items .img-wrapper {
  margin: 0 auto;
  padding-bottom: 30px;
}
.plan-items .name {
  text-align: left;
  font-size: 18px;
  padding-bottom: 15px;
  font-weight: 400;
}
.plan-items .price {
  text-align: right;
  font-size: 22px;
  padding-bottom: 15px;
  font-weight: 400;
}
.plan-items:hover {
  border: solid 1px #007bff;
}

.shadow-box-login {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}

.pad-det {
  padding-top: 15px;
  padding-bottom: 15px;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper .row {
  align-items: center;
  box-shadow: 0 3px 10px #00000029;
  background-color: #f8f9fa;
  border-radius: 25px;
}
@media only screen and (max-width: 767px) {
  .login-wrapper .row {
    background-color: #f8f9fa;
    border-radius: 25px;
    padding: 50px 25px;
    margin: 0;
  }
}
.login-wrapper .row .custom-pos-outline {
  width: 600px;
  max-width: 100%;
  position: absolute;
  margin: 2px 0 0 -18rem;
  z-index: -1;
}
@media only screen and (max-width: 1199px) {
  .login-wrapper .row .custom-pos-outline {
    margin: 2px 0 0 -13rem;
  }
}
@media only screen and (max-width: 1199px) {
  .login-wrapper .row .custom-pos-outline {
    margin: 2px 0 0 -13rem;
  }
}
@media only screen and (max-width: 991px) {
  .login-wrapper .row .custom-pos-outline {
    margin: 2px 0 0 -5rem;
  }
}
@media only screen and (max-width: 767px) {
  .login-wrapper .row .custom-pos-outline {
    margin: 2px 0 0 -6rem;
    position: absolute;
    object-fit: cover;
  }
}
@media only screen and (max-width: 575px) {
  .login-wrapper .row .custom-pos-outline {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
  }
}
.login-wrapper .row .login-image {
  padding: 0;
}
.login-wrapper .row .login-image .image-wrapper {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .login-wrapper .row .login-image .image-wrapper {
    width: max-content;
  }
}
.login-wrapper .row .login-image .image-wrapper img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 25px 0 0 25px;
  height: 650px;
  display: block;
}
@media only screen and (max-width: 767px) {
  .login-wrapper .row .login-image .image-wrapper img {
    height: auto;
    object-fit: contain;
    overflow: hidden;
    border-radius: 25px;
    position: absolute;
    width: 100px;
    right: 12px;
    top: -23px;
  }
}
.login-wrapper .row h2 {
  color: #3777FF;
  padding: 50px 20px;
  margin: 0;
}
.login-wrapper .row .divider {
  text-align: center;
  padding: 20px 0;
}
.login-wrapper .row .social-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper .row .social-btn-wrapper button {
  border: none;
  outline: none;
  background-color: transparent;
}
.login-wrapper .row .social-btn-wrapper button .img-wrapper {
  max-width: 50px;
  padding: 0;
}
.login-wrapper .row .social-btn-wrapper button .img-wrapper img {
  display: block;
}
.login-wrapper .row .social-btn-wrapper button:hover {
  cursor: pointer;
}
.login-wrapper .row form {
  padding: 0 20px;
}
.login-wrapper .row form .form-group {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.login-wrapper .row form .form-group label {
  margin-right: 5px;
  font-size: 17px;
}
.login-wrapper .row form .form-group label svg {
  color: #7e7d7d;
}
.login-wrapper .row form .py-3 {
  box-shadow: none;
}

.client-services .plans {
  width: 100%;
  max-width: 50%;
}
.client-services .plans .plan-wrapper .img-wrapper {
  max-width: 250px;
  margin: 0 auto;
}

.edit-screen .fill-up {
  padding-top: 25px;
}
.edit-screen .details-wrapper {
  padding-bottom: 30px;
}
.edit-screen label {
  font-weight: 400;
  font-size: 12px;
  display: block;
  padding: 5px 0;
  color: #aba7a7;
  text-transform: uppercase;
}
.edit-screen input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}
.edit-screen input:focus {
  border: 2px solid #3777ff;
  border-radius: 5px;
  outline: none;
}
.edit-screen input::placeholder {
  border: 1px solid #b3b3b3;
}
.edit-screen select {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}
.edit-screen select:focus {
  border: 2px solid #3777ff;
  border-radius: 5px;
  outline: none;
}
.edit-screen select::placeholder {
  border: 1px solid #b3b3b3;
}
.edit-screen textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  height: 200px;
}
.edit-screen textarea:focus {
  border: 2px solid #3777ff;
  border-radius: 5px;
  outline: none;
}

.profile {
  background-color: #ececec;
}

.view-screen a {
  display: block;
  font-weight: 700;
  color: #3777FF;
  padding: 10px 20px;
  text-align: right;
}
.view-screen .user-details {
  padding-bottom: 30px;
}
.view-screen .user-details .title {
  font-weight: 900;
  color: #3777ff;
  font-size: 12px;
  background-color: #e2e2e2;
  display: block;
  padding: 10px;
  border-radius: 5px;
  margin: 0 -12px;
}
.view-screen .user-details .details-wrapper {
  padding: 25px 0 0 0;
  border-bottom: 1px solid #00000033;
  min-height: 75px;
}
.view-screen .user-details .details-wrapper .inner-img-wrapper {
  max-width: 200px;
  margin-left: 15px;
}
.view-screen .user-details .details-wrapper label {
  font-weight: 700;
  font-size: 12px;
  margin: 0 0 5px 0;
}
.view-screen .user-details .details-wrapper span {
  display: inline-block;
  margin-left: 20px;
  width: 100%;
}
.view-screen .user-details .details-wrapper textarea {
  width: 100%;
  height: 200px;
  padding: 15px;
  border: 1px solid #22222226;
  background-color: transparent;
  line-height: 1.5;
}
.view-screen .user-details .details-wrapper textarea:focus {
  outline: none;
}
.view-screen .user-details .details-wrapper textarea:hover {
  cursor: default;
}
.view-screen .user-details .details-wrapper ul {
  list-style: disc;
  margin-left: 15px;
  line-height: 1.5;
}
.view-screen .user-details .details-wrapper ul li {
  margin-left: 15px;
}
.view-screen .user-details .details-wrapper ol {
  list-style: decimal;
  margin-left: 15px;
  line-height: 1.5;
}
.view-screen .user-details .details-wrapper ol li {
  margin-left: 15px;
}
.view-screen .button-wrapper {
  text-align: right;
}

/*# sourceMappingURL=index.css.map */
