body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: #007bff;
  text-decoration: none;
  font-weight: 700;
}
.active {
  color: #007bff;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  padding:  0;
  background: #f8f9fa
}
.top-menu-li {
  list-style: none;
  text-align: right;
}
.top-menu-li li {
  display: inline-block;
  margin-left: 10px;
}.top-menu-li li a {
  padding: 5px;
}
.row {
  width: 100%;
}
.btn-primary {
  width: 100%;
}
.dpa-tb-60{
  padding-top: 60px;
  padding-bottom: 60px;
}

/* TABLE SCROLL */
table{
  width: 100%;
  line-height: 2;
}
th{
  font-weight: 600;
  text-align: left;
  padding: 8px 15px;
  white-space: nowrap;
}
td {
  text-align: left;
  padding: 8px 15px;
  white-space: nowrap;
}
tr:nth-child(even){
  background-color: #3777ff26
}